<h1 mat-dialog-title *ngIf="!edit">New Retailer</h1>
<h1 mat-dialog-title *ngIf="edit">Editing {{ retailer.retailer }}</h1>

<button class="mat-dialog-close" (click)="closeDialog()">&times;</button>

<form #retailerForm="ngForm" novalidate>
  <div mat-dialog-content>
    <div class="pageLoader" *ngIf="formLoading">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>

    <div class="container" *ngIf="!error && !success && !formLoading">
      <div class="form-group" [class.nope]="invalid || (name.errors && (name.touched || submitted))">
        <label for="name">Retailer</label>
        <input type="text" class="form-control" id="name" name="name" #name="ngModel" autocomplete="off" placeholder="Retailer" required [disabled]="edit" [(ngModel)]="retailer.retailer" (ngModelChange)="hideError(); changed()">
        <div class="errorMsg" [@topDown]="true" *ngIf="name.errors && (name.touched || submitted)">
          <p *ngIf="name.errors.required">Retailer is required</p>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="invalid">
          <p>{{ err }}</p>
        </div>
      </div>

      <fieldset class="form-group">
        <legend>Hotel</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="hotel" #hotel="ngModel" [value]="true" required [(ngModel)]="retailer.hotel" (ngModelChange)="hideError(); changed(); setRooms(hotel.value)">
            <div class="selector" id="hotel1" [class.selected]="hotel.value === true">
              <span>Yes</span>
            </div>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="hotel" #hotel="ngModel" [value]="false" required [(ngModel)]="retailer.hotel" (ngModelChange)="hideError(); changed(); setRooms(hotel.value)">
            <div class="selector" id="hotel2" [class.selected]="hotel.value === false">
              <span>No</span>
            </div>
          </label>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="hotel.errors && (hotel.touched || submitted)">
          <p *ngIf="hotel.errors.required">Please select an option</p>
        </div>
      </fieldset>

      <div class="form-group" [class.nope]="seatMax || seatMin || (seats.errors && (seats.touched || submitted))">
        <label for="seats">Seats</label>
        <input type="number" class="form-control" id="seats" name="seats" #seats="ngModel" autocomplete="off" placeholder="# of Seats" required min="0" [(ngModel)]="retailer.seats" (ngModelChange)="hideError(); changed(); checkSeats(seats.value, rooms.value)">
        <div class="errorMsg" [@topDown]="true" *ngIf="seats.errors && (seats.touched || submitted)">
          <p *ngIf="seats.errors.required">Seats is required</p>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="seatMin">
          <p>Seats cannot be less than 0</p>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="seatMax">
          <p>Seats cannot be less than Rooms</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="roomMax || roomMin || (rooms.errors && (rooms.touched || submitted))">
        <label for="rooms">Rooms</label>
        <input type="number" class="form-control" id="rooms" name="rooms" #rooms="ngModel" autocomplete="off" placeholder="# of Rooms" required min="0" [max]="seats.value" [disabled]="retailer.hotel === false" [(ngModel)]="retailer.rooms" (ngModelChange)="hideError(); changed(); checkRooms(seats.value, rooms.value)">
        <div class="errorMsg" [@topDown]="true" *ngIf="rooms.errors && (rooms.touched || submitted)">
          <p *ngIf="rooms.errors.required">Rooms is required</p>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="roomMin">
          <p>Rooms cannot be less than 0</p>
        </div>
        <div class="errorMsg" [@topDown]="true" *ngIf="roomMax">
          <p>Rooms cannot be larger than Seats</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="retailer_code.errors && (retailer_code.touched || submitted)">
        <label for="retailer_code">Retailer Code</label>
        <input type="text" class="form-control" id="retailer_code" name="retailer_code" #retailer_code="ngModel" autocomplete="off" placeholder="Retailer Code" required [(ngModel)]="retailer.retailer_code" (ngModelChange)="hideError(); changed()">
        <div class="errorMsg" [@topDown]="true" *ngIf="retailer_code.errors && (retailer_code.touched || submitted)">
          <p *ngIf="retailer_code.errors.required">Retailer Code is required</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="region.errors && (region.touched || submitted)">
        <label for="region">Region</label>
        <input type="text" class="form-control" id="region" name="region" #region="ngModel" autocomplete="off" placeholder="Region" required [(ngModel)]="retailer.region" (ngModelChange)="hideError(); changed()">
        <div class="errorMsg" [@topDown]="true" *ngIf="region.errors && (region.touched || submitted)">
          <p *ngIf="region.errors.required">Region is required</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="market.errors && (market.touched || submitted)">
        <label for="market">Market</label>
        <input type="text" class="form-control" id="market" name="market" #market="ngModel" autocomplete="off" placeholder="Market" required [(ngModel)]="retailer.market" (ngModelChange)="hideError(); changed()">
        <div class="errorMsg" [@topDown]="true" *ngIf="market.errors && (market.touched || submitted)">
          <p *ngIf="market.errors.required">Market is required</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="waves.errors && (waves.touched || submitted)">
        <label for="waves">Waves</label>
        <select class="form-control" id="waves" name="waves" #waves="ngModel" placeholder="Waves" multiple [size]="eventWaves.length" required [(ngModel)]="retailer.waves" (ngModelChange)="hideError(); changed()">
          <option *ngFor="let val of eventWaves" [value]="val.wave">{{ val.wave }}</option>
        </select>
        <div class="errorMsg" [@topDown]="true" *ngIf="waves.errors && (waves.touched || submitted)">
          <p *ngIf="waves.errors.required">Please select Waves</p>
        </div>
      </div>
    </div>
  
    <div [@fade]="true" *ngIf="success">
      <h3>Success!</h3>

      <p>{{ retailer.retailer }} has been successfully <span *ngIf="!edit">created</span> <span *ngIf="edit">edited</span>.</p>
    </div>

    <div class="errorMsg" [@fade]="true" *ngIf="error">
      <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="d-flex" *ngIf="!success">
      <p class="errorMsg" [@fade]="true" *ngIf="(!retailerForm.valid || invalid || seatMax || seatMin || roomMax || roomMin) && submitted">Please fix errors above</p>
      <button class="lrBtn dialog secondary" type="button" (click)="closeDialog()">Cancel</button>
      <button class="lrBtn dialog" [disabled]="loading" (click)="submit(retailer, retailerForm.valid)">
        <span *ngIf="!loading">Submit</span>
        <span *ngIf="loading">
          <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
        </span>
      </button>
    </div>
    <div class="d-flex" *ngIf="success">
      <button class="lrBtn dialog" type="button" (click)="closeDialog()">Close</button>
    </div>
  </div>
</form>
