<header>
	<nav [class.open]="navActive">
    <div class="mobileNav">
      <a class="mobileNavBtn" *ngIf="!isLogin && (isLoggedIn || isLoggedInAdmin)" (click)="toggleNav()">
        <fa-icon *ngIf="!navActive" [icon]="['fas', 'bars']" size="lg"></fa-icon> 
        <fa-icon *ngIf="navActive" [icon]="['fas', 'times']" size="lg"></fa-icon> 
        <span class="btnLabel">MENU</span>
      </a>

      <a routerLink="/" class="navLogo"><img src="../assets/images/land-rover-logo.png"></a>

      <div class="mobileIcons" *ngIf="!isLogin && (isLoggedIn || isLoggedInAdmin)">
        <a routerLink="/register" routerLinkActive="active" *ngIf="!isAdmin"><fa-icon [icon]="['fas', 'user-plus']" size="lg"></fa-icon></a>
        <a (click)="logoutAdmin()" *ngIf="isAdmin"><fa-icon [icon]="['fas', 'sign-out-alt']" size="lg"></fa-icon></a>
      </div>
    </div>

    <div class="navMenu" *ngIf="!isLogin && (isLoggedIn || isLoggedInAdmin)">
      <div *ngIf="!isAdmin">
        <ul class="primaryNav">
          <li><a routerLink="/location" routerLinkActive="active" (click)="closeNav()">LOCATION</a></li>
          <li><a routerLink="/faqs" routerLinkActive="active" (click)="closeNav()">FAQs</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" (click)="closeNav()">CONTACT</a></li>
        </ul>

        <ul class="secondaryNav">
          <li><a routerLink="/register" routerLinkActive="active" (click)="closeNav()"><fa-icon class="mr-2" [icon]="['fas', 'user-plus']" size="lg"></fa-icon> REGISTER</a></li>
          <li><a (click)="logout()"><fa-icon class="mr-2" [icon]="['fas', 'sign-out-alt']" size="lg"></fa-icon> LOGOUT</a></li>
        </ul>
      </div>

      <div *ngIf="isAdmin">
        <ul class="primaryNav">
          <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNav()">REGISTRANTS</a></li>
          <li><a routerLink="/admin/waves" routerLinkActive="active" (click)="closeNav()">WAVES</a></li>
          <li><a routerLink="/admin/retailers" routerLinkActive="active" (click)="closeNav()">RETAILERS</a></li>
          <li><a routerLink="/admin/employees" routerLinkActive="active" (click)="closeNav()">EMPLOYEES</a></li>
        </ul>

        <ul class="secondaryNav">
          <li><a (click)="logoutAdmin()"><fa-icon class="mr-2" [icon]="['fas', 'sign-out-alt']" size="lg"></fa-icon> LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
