<section [@fade]="true">
  <div class="container">
      <h1>FAQs</h1>
  
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Question 1?
          </mat-expansion-panel-header>
  
          <ng-template matExpansionPanelContent>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, eaque unde, voluptas repellendus maiores, culpa illo qui deserunt laudantium est placeat vel. Odit, nostrum voluptates excepturi esse magnam vitae laborum.</p>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Question 2?
          </mat-expansion-panel-header>
  
          <ng-template matExpansionPanelContent>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, eaque unde, voluptas repellendus maiores, culpa illo qui deserunt laudantium est placeat vel. Odit, nostrum voluptates excepturi esse magnam vitae laborum.</p>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Question 3?
          </mat-expansion-panel-header>
  
          <ng-template matExpansionPanelContent>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, eaque unde, voluptas repellendus maiores, culpa illo qui deserunt laudantium est placeat vel. Odit, nostrum voluptates excepturi esse magnam vitae laborum.</p>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Question 4?
          </mat-expansion-panel-header>
  
          <ng-template matExpansionPanelContent>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, eaque unde, voluptas repellendus maiores, culpa illo qui deserunt laudantium est placeat vel. Odit, nostrum voluptates excepturi esse magnam vitae laborum.</p>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</section>
  